body{
    margin: 0px!important;
    padding: 0px!important;
}

.ubuntu-font {
    font-family: 'Ubuntu' !important;
    src: url('/assets/fonts/ubuntu-font-family-0.83/Ubuntu-R.ttf');
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";